.nested-fields
  = f.association :competitor_1, :collection => @competition.competitors, :prompt => "Choose a competitor"
  .vs
    vs
  = f.association :competitor_2, :collection => @competition.competitors, :prompt => "Choose a competitor"
  = link_to_remove_association "remove match", f