.page-header
  %h1 Edit a Round for #{@competition.name}
= link_to "Close round early", competition_round_close_early_path(@competition, @round), :confirm => "Are you sure you want to close a round early? The closing date will be set to yesterday.", method: :post

= render 'edit_form'